.movie-card {
    max-width: 15.5rem;
    /* padding: 0.5rem; */
  
  }
  .movie-card-container{
    overflow: hidden;
  }
 
  .fix-header{
    height: 3.75rem;
    font-size: 0.95rem;
    white-space: nowrap; 
  }
  .movie-card:hover {
    box-shadow: 0 1.25rem 1.6rem rgba(3, 3, 3, 0.1); /* Adjust shadow values as needed */
   
  }
 