<nav *ngIf="loginFlag" class="navbar navbar-expand-lg navbar-dark bg-dark" >


  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div *ngIf="arFlag; then SettingsListTemplate else HomeListTemplate"></div>
      <div *ngIf="arFlag; then HomeListTemplate else SettingsListTemplate"></div>
  
    </div>

  </nav>

  <ng-template #HomeListTemplate>
    <ul  class="navbar-nav" [ngClass]="{'ms-auto': arFlag , 'mr-auto':!arFlag , 'switch-direction': arFlag}">
      <li>
        <a class="navbar-brand" href="#">TMBD</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>   
  </ng-template>

  <ng-template #SettingsListTemplate>
    <ul class="navbar-nav" [ngClass]="{'ms-auto': !arFlag , 'mr-auto':arFlag , 'switch-direction': arFlag }" >
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"  
          id="navbarDropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Lang
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="toggleLanguage()">{{arFlag ? 'en - English' : 'ar - عربي'}}</a>
        </div>
      </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
    </ul>
  </ng-template>

