
 .card-group-with-bg {
    background-image: url('movie.jpg');
    background-size: cover;
    background-position: center;
  
  }
  .page-size-container {
    min-height: 100vh;
    min-width: 100vw;
  }
  .login-card{
    max-width: 31.25rem;
     border: none;
  }